{%extends 'base.html'%}
{%block title%}Home{%endblock%}
{%load static%}
{%block content%}
<!-- Slider Start-->

     <!-- ======= Intro Section -->
     <section class="section-property section-t8">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="title-wrap d-flex justify-content-between">
              <div class="title-box">
                <h2 class="title-a">Latest Properties</h2>
              </div>
              <div class="title-link">
                <a href="{%url 'property'%}">All Property
                  <span class="bi bi-chevron-right"></span>
                </a>
              </div>
            </div>
          </div>
        </div>
  <div class="intro intro-carousel swiper position-relative">
    <div class="swiper-wrapper">
    {% for room in room %}
        <a href="{%url 'detail' room.id%}">
        <div class="swiper-slide carousel-item-a intro-item bg-image" style="background-image: url('{{ room.cover_image.url }}');">
        <div class="overlay overlay-a"></div>
        <div class="intro-content display-table">
          <div class="table-cell">
            <div class="container">
              <div class="row">
                <div class="col-lg-8">
                  <div class="intro-body">
                    <h1 class="intro-title mb-4 ">
                      <span class="color-b">{{room.address}} </span> {{room.name}}
                      <br> {{room.location}}
                    </h1>
                    <p class="intro-subtitle intro-price">
                      <a href="{%url 'detail' room.id%}"><span class="price-a">rent | $ {{room.price}}</span></a>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </a>
       </div>
      {% endfor %}
      </div>
    <div class="swiper-pagination"></div>
  </div><!--End Intro Section -->
      <!-- ======= Latest Properties Section ======= -->
{%endblock%}